@import url(./reset.css);

:root {
  --font-xlarge: 4rem;
  --font-large: 2rem;
  --font-medium: 1.2rem;
  --font-regular: 1rem;
  --font-small: 0.8rem;
  --font-micro: 0.7rem;
}

/* common style */
.title {
  color: #4b636e;
}

/* postsDeatil */
.postsDetail-wrap {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
}

/* modal */
.modal {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  background-color: #a7c0cd;
  color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: var(--font-small);
}

/* postsDeatil header */
.postsDetail-share-btn {
  display: block;
  font-size: var(--font-large);
  margin-left: auto;
  color: #a7c0cd;
}

.postsDetail-title {
  font-size: var(--font-xlarge);
  margin-bottom: 2rem;
}

.postsDetail-info-wrap {
  display: flex;
  font-size: var(--font-regular);
  padding: 0 1rem;
  margin-bottom: 1rem;
  color: #a7c0cd;
}

.postsDetail-info-wrap > span::after {
  content: '|';
  margin: 0.4rem;
}

.postsDetail-info-wrap > span:last-child:after {
  content: '';
}

.postsDetail-tag-wrap {
  margin-bottom: 1rem;
}

.postsDetail-tag-wrap span {
  display: inline-block;
  padding: 0.4rem 1rem;
  margin: 0.4rem;
  border-radius: 1rem;
  background-color: #a7c0cd;
  color: #fff;
  cursor: pointer;
}

/* postsDetail content  */
.postsDetail-content {
  padding: 1rem;
  margin-bottom: 5rem;
  line-height: 1.8;
  min-height: 20rem;
  color: #585858;
  border-top: 1px solid #a7c0cd76;
  border-bottom: 1px solid #a7c0cd76;
}

/* postsDetail comment */
.postsDetail-comment {
  width: 100%;
}

.postsDetail-comment-title {
  margin-bottom: 1rem;
}

.postsDetail-comment-input {
  resize: none;
  width: 100%;
  height: 6rem;
  border: 1px solid #a7c0cd76;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.postsDetail-comment-button {
  display: block;
  border-radius: 0.4rem;
  padding: 0.8rem 1.4rem;
  margin-left: auto;
  font-size: var(--font-regular);
  font-weight: 600;
  background-color: #a7c0cd;
  color: #fff;
  transition: 250ms;
}

.postsDetail-comment-button:hover {
  background-color: #4b636e;
}

/* comment list */
.comment {
  padding: 2rem 1rem;
  margin: 2rem 0;
  border-bottom: 1px solid #a7c0cd76;
}

.comment-user-name {
  font-size: var(--font-regular);
  margin-bottom: 0.4rem;
}

.comment-created-date {
  font-size: var(--font-regular);

  color: #a7c0cd;
}

.comment-contents {
  width: 100%;
  padding: 1rem 0;
  line-height: 1.5;
  color: #585858;
}
